<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='style.css') }}" />            
    </head>
    <body>
        <div class="container">
            <h1>Tennis Visualization</h1>
            <h4>Select the tournaments to see the visualizations</h4>

            <div class="row">
                <div class="column">
                    <a class="noDecoration" href = "{{ url_for('live_tournaments_list') }}">
                        <div class="card">
                            <h3>Live</h3>
                        </div>
                    </a>
                </div>

                <div class="column">
                    <a class="noDecoration" href = "{{ url_for('finished_tournaments_date_picker') }}">
                        <div class="card">
                            <h3>Finished</h3>
                        </div>
                    </a>
                </div>
            </div>

            <br/><br/>
            <div class="row">
                <table id="tournaments_date_picker" >
                    <tr>
                        <th>Select Dates</th>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <form method='POST' action="{{ url_for('finished_match_search') }}">
                                <label for="start_date">Start Date:</label>
                                <input type="date" name="Start_Date" id="sDate">
                                <label for="end_date">End Date:</label>
                                <input type="date" name="End_Date" id="eDate">
                                <button type="submit">Submit</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </body>
</html>
